<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:myname="http://www.xuliyi.com/schema/user"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/aop
                    http://www.springframework.org/schema/aop/spring-aop.xsd
                    http://www.xuliyi.com/schema/user
                    http://www.xuliyi.com/schema/user/user.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


    <!--spring 扫描注解 @AutoService @Component 等等-->
    <context:component-scan base-package="com"/>

    <!--支持 aop true 表示使用cglib进行动态代理-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--运行时动态获取配置属性-->
    <context:property-placeholder location="classpath*:important.properties"/>

    <!--熔断器 aop-->
    <bean id="hystrixAspect" class="com.netflix.hystrix.contrib.javanica.aop.aspectj.HystrixCommandAspect"/>

    <myname:user id="user2" userName="23" email="243"/>

    <bean id="testBeanPostProcess" class="com.test.ioc.TestBeanPostProcess"/>


    <!--线程池属性配置-->
    <bean id="quereUserInfoThreadPool" class="com.config.thread.threadpool.ThreadPool">
        <constructor-arg name="corePoolSize" value="1"/>
        <constructor-arg name="maxPoolSize" value="2"/>
        <constructor-arg name="keepAliveTime" value="100"/>
        <constructor-arg name="unit" value="MICROSECONDS"/>
    </bean>

    <!--导入 mybatis mq redis配置-->
    <import resource="mybatis-spring.xml"/>
    <import resource="spring-active.xml"/>
    <import resource="spring-redis.xml"/>

    <bean id="testBean" class="com.test.TestArrayList">
        <property name="user" ref="user1"/>
    </bean>

    <bean id="user1" class="com.domain.User" />

    <util:list id="cars">
        <ref bean="user1"/>
        <ref bean="user1"/>
    </util:list>


</beans>

